## This video is used to learn this concept
###### <href>https://www.youtube.com/watch?v=m_CooIRM3UI&list=PLeo1K3hjS3uuKaU2nBDwr6zrSOTzNCs0l&index=8</href>

#### cosine_similarity is the cosine of an angle between two vectors
#### cosine_distance =  1 - cosine_similarity

In [4]:
from sklearn.metrics.pairwise import cosine_similarity, cosine_distances

In [7]:
cosine_similarity([[3,1]],[[6,2]]) # have to pass 2 , 2-D array as arguments

array([[1.]])

In [8]:
cosine_distances([[3,1]],[[6,2]])
# the output distance is very close to 0, which means the vectors are very close to each other

array([[1.11022302e-16]])

In [9]:
# now working with string, like working with real document,
# here we are working to differentiate between apple documents and samsung documents
# by the help of wordcount

In [18]:
doc1 = """
iphone sales contributed to 70% of revenue. iphone demand is increasing by 20% yoy. 
the main competitor phone galaxy recorded 5% less growth compared to iphone"
"""
# wordcount on document 1, iphone = 3,galaxy = 1
doc2 = """
The upside pressure on volumes for the iPhone 12 series, historical outperformance 
in the July-September time period heading into launch event, and further catalysts in relation
to outperformance for iPhone 13 volumes relative to lowered investor expectations implies a 
very attractive set up for the shares.
"""
# wordcount on document 2, iphone = 2,galaxy = 0
doc3 = """
samsung's flagship product galaxy is able to penetrate more into asian markets compared to
iphone. galaxy is redesigned with new look that appeals young demographics. 60% of samsung revenues
are coming from galaxy phone sales
"""
# wordcount on document 3, iphone = 1,galaxy = 3
doc4 = """
Samsung Electronics unveils its Galaxy S21 flagship, with modest spec improvements 
and a significantly lower price point. Galaxy S21 price is lower by ~20% (much like the iPhone 12A), 
which highlights Samsung's focus on boosting shipments and regaining market share.
"""
# wordcount on document 4, iphone = 1,galaxy = 2

In [19]:
import pandas as pd 

df = pd.DataFrame(
    [
        {'iPhone':3,'Samsung':1},
        {'iPhone':2,'Samsung':0},
        {'iPhone':1,'Samsung':3},
        {'iPhone':1,'Samsung':2},
    ],
    index=[
        "doc1",
        "doc2",
        "doc3",
        "doc4"
    ]
    )
df

      iPhone  Samsung
doc1       3        1
doc2       2        0
doc3       1        3
doc4       1        2

In [20]:
df.loc["doc1":"doc1"]

      iPhone  Samsung
doc1       3        1

In [21]:
cosine_similarity(df.loc["doc1":"doc1"],df.loc["doc2":"doc2"])

array([[0.9486833]])

In [22]:
cosine_similarity(df.loc["doc1":"doc1"],df.loc["doc3":"doc3"])

array([[0.6]])

In [23]:
cosine_distances(df.loc["doc1":"doc1"],df.loc["doc3":"doc3"])

array([[0.4]])